
@{
    var errorMessage = ViewBag.ErrorMessage;
    var member = ViewBag.Member;
    var role = ViewBag.Role;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title - GowBoard ASP.NET Application</title>


    <!-- Custom fonts for this template-->
    <link href="~/Content/all.min.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">

    <!-- Custom styles for this template-->
    <link href="~/Content/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home", new { area = ""})">
                <div class="sidebar-brand-text mx-3"><strong>G</strong>ow <strong>B</strong>oard</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <div class="text-center">
                <!-- Nav Item - Dashboard -->
            <li class="nav-item active text-center">
                <span style="color:white;">
                    <strong><bold style="color:gray;">Admin</bold></strong>
                    <div>@member.Nickname</div>
                    <div>@member.Email</div>

                </span>
            </li>
    </div>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        List
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item" data-page="/Admin/Dashboard">
        <a class="nav-link" href="@Url.Action("Dashboard","Admin", new { area = ""})">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item" data-page="/Admin/MemberList">
        <a class="nav-link" href="@Url.Action("MemberList", "Admin", new { area = ""})">
            <i class="fas fa-fw fa-users"></i>
            <span>Member List</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Divider and Log Out -->
    <div class="mt-auto">
        <hr class="sidebar-divider d-none d-md-block">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Logout", "Member", new { area = "" })">
                <i class="fas fa-sign-out-alt"></i>
                <span>Log Out</span>
            </a>
        </li>
    </div>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item  no-arrow">
                        <a class="nav-link " href="@Url.Action("Index","Home", new { area = ""})" ">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Home</span>
                        </a>

                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->


            @RenderBody()



        </div>

        <!-- End of Content Wrapper -->
    </div>

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; Gow Board 2024</span>
            </div>
        </div>
    </footer>
    <!-- End of Footer -->
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <script>
    const msg = "@errorMessage";
    document.addEventListener("DOMContentLoaded", function () {

        if (msg) {
            alert(msg);
        }

        const currentPath = window.location.pathname;
        const navItems = document.querySelectorAll('.nav-item');

        navItems.forEach(item => {
            const itemPath = item.getAttribute('data-page');
            if (currentPath.includes(itemPath)) {
                item.classList.add('active');

                const link = item.querySelector('a');
                if (link) {
                    link.classList.add('active');
                }
            } else {
                item.classList.remove('active');
                const link = item.querySelector('a');
                if (link) {
                    link.classList.remove('active');
                }
            }
        })
    });
    </script>
    <!-- Chart.js Core Library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Date Adapter for Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    <!-- Page level custom scripts -->
    <script src="~/Scripts/sb-admin-2.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>