
@{
    var errorMessage = ViewBag.ErrorMessage;
    var member = ViewBag.Member;
    var role = ViewBag.Role;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title - GowBoard ASP.NET Application</title>


    <!-- Template Main CSS Files -->
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/variables.css" rel="stylesheet">


    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">



    <!-- =======================================================
    * Template Name: ZenBlog
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">


            <a href="@Url.Action("Index", "Home", new { area = "" })" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="~/Content/img/logo.png" alt=""> -->
                <h1 style="font-family: 'EB Garamond', serif;">GowBoard</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul class="category-layout">

                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home", new { area = "" })" data-page="/Home/Index">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("List", "Board", new { area = "", category="Board"})" data-page="/Board/List?category=Board">
                            Board
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("List", "Board", new { area = "", category = "Notice" })" data-page="/Board/List?category=Notice">
                            Notice
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("dashboard", "Admin", new { area = ""})" data-page="/Admin/dashboard" class="active">
                            Admin
                        </a>
                    </li>
                </ul>
            </nav><!-- .navbar -->
            <!-- live alert -->
            <div id="floating-notification" class="floating-notification">
                <div class="notification-header">
                    <span><i class="bi bi-bell-fill"></i> 알림</span>
                    <button class="close-btn">&times;</button>
                </div>
                <div class="notification-content"></div>
            </div>


            <div class="position-relative">
                <div class="text-center">

                    @if (Session["MemberId"] == null)
                    {
                        <a href="@Url.Action("Register", "Member", new { area = "" })">
                            <button class="btn btn-outline-dark" style="width:100px">회원가입</button>
                        </a>

                        <a href="@Url.Action("LogIn", "Member", new { area = "" })">
                            <button class="btn btn-dark" style="width:100px">로그인</button>
                        </a>
                    }
                    else
                    {
                        <nav id="navbar" class="navbar">
                            <ul>
                                <li class="dropdown">
                                    <a href="@Url.Action("MyProfile", "MyPage", new { area = "" })">
                                        <span>
                                            <i class="bi bi-chevron-down dropdown-indicator"></i>
                                            <span><strong>@Session["Nickname"]</strong>님, 반갑습니다.</span>
                                        </span>
                                    </a>
                                    <ul>
                                        <li><a href="@Url.Action("MyProfile", "MyPage", new { area = "" })">MyPage</a></li>
                                        <li><a href="@Url.Action("Logout", "Member", new { area = "" })">Logout</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav><!-- .navbar -->

                    }

                </div>

                <div class="text-center">
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </div>
                <!-- ======= Search Form ======= -->
                <div class="search-form-wrap js-search-form-wrap">
                    <form action="search-result.html" class="search-form">
                        <span class="icon bi-search"></span>
                        <input type="text" placeholder="Search" class="form-control">
                        <button class="btn js-search-close"><span class="bi-x"></span></button>
                    </form>
                </div><!-- End Search Form -->

            </div>

        </div>

    </header><!-- End Header -->


    <main class="container body-content" id="main">

        <section class="single-post-content">
            <div class="container">
                <div class="row">

                    <!-- ======= My Page Sidebar ======= -->
                    <div class="col-md-1" style="width:14%;">

                        <div class="aside-block" style="margin-bottom: 300px;">
                            <h3 class="aside-title">Categories</h3>
                            <ul class="aside-links list-unstyled">
                                <!-- Nav Item - Pages Collapse Menu -->

                                <li class="nav-item @(ViewBag.CurrentPage == "Dashboard"? "active" : "")">
                                    <a class="nav-link" href="@Url.Action("Dashboard","Admin", new { area = ""})">
                                        <i class="bi bi-speedometer2"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li class="nav-item @(ViewBag.CurrentPage == "MemberList"? "active" : "")">
                                    <a class="nav-link" href="@Url.Action("MemberList", "Admin", new { area = ""})">
                                        <i class="bi bi-people-fill"></i>
                                        <span>Member List</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- End Categories -->

                    </div>
                    <!-- My Page Sidebar End-->

                    <div class=col-md-10 post-content" data-aos="fade-up" id="sidebar-after" style="width:86%;">
                        @RenderBody()
                    </div>


                </div>
            </div>
        </section>
    </main>
    <!-- End #main --
    <!-- ======= Footer ======= -->
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">


        <div class="footer-legal">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <div class="copyright">
                            © Copyright <strong><span>GowIT</span></strong>. All Rights Reserved
                        </div>


                    </div>

                </div>

            </div>
        </div>

    </footer>

    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Scripts/main.js"></script>
    <!-- Chart.js Core Library -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Date Adapter for Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>

    <script>
    const msg = "@errorMessage";
    document.addEventListener("DOMContentLoaded", function () {

        if (msg) {
            alert(msg);
        }

    });


        // 실시간 알림
        $(function () {
            var memberId = '@Session["MemberId"]';
            var connection = $.hubConnection();
            connection.qs = { "memberId": memberId };
            var hub = connection.createHubProxy('notificationHub');

            hub.on('receiveNotification', function (memberId, title, contentId) {

                showFloatingNotification(title, contentId);

                debugger
                // 알림 표시
                // $('#notification-badge').show();

                // 드롭다운 메뉴에 새 알림 추가
                var newNotification = $('<li><a href="/Board/DetailView/' + contentId +'">' + title +'에 댓글이 달렸습니다.' + '</a></li>');
                $('#dropdown-menu').prepend(newNotification);
            });

            connection.start()
                .done(function() {
                    console.log('Now connected, connection ID=' + connection.id);
                    hub.invoke('AssociateUser', memberId);
                    debugger
                })
                .fail(function() {
                    console.log('Could not connect');
                });


            function showFloatingNotification(title, contentId) {
                var notificationContent = "'" + title + "'" + '게시글에 댓글이 달렸습니다.';
                $('.notification-content').html(notificationContent);
                $('#floating-notification').fadeIn();

                // 알림 클릭 시 해당 게시글로 이동
                $('#floating-notification').off('click').on('click', function () {
                    window.location.href = '/Board/DetailView/' + contentId;
                });
            }
            $('.close-btn').on('click', function (e) {
                e.stopPropagation();
                $('#floating-notification').fadeOut();
            });
        });
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>