@{
    var errorMessage = TempData["ErrorMessage"] as string;
    var errorMsg = ViewBag.ErrorMessage;
    var successMessage = TempData["SuccessMessage"] as string;
    var successMsg = ViewBag.SuccessMessage;
    var roleId = Session["RoleId"] as int?;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html;" />
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewBag.Title - GowBoard ASP.NET Application</title>


    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />

    <!-- Template Main CSS Files -->
    <link href="~/Content/main.css" rel="stylesheet">
    <link href="~/Content/variables.css" rel="stylesheet">


    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/img/favicon.png" rel="icon">
    <link href="~/Content/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet">



    <style>
        .nav-item a.active {
            font-weight: bold !important;
            text-decoration: underline !important;
        }

        .nav-item :hover {
            font-weight: bold;
            text-decoration: underline !important;
        }
    </style>

    <!-- =======================================================
    * Template Name: ZenBlog
    * Template URL: https://bootstrapmade.com/zenblog-bootstrap-blog-template/
    * Updated: Mar 17 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https:///bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">


            <a href="@Url.Action("Index", "Home", new { area = "" })" class="logo d-flex align-items-center">
                <h1>GowBoard</h1>
            </a>

            <nav id="navbar" class="navbar">
                <ul class="category-layout">

                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home", new { area = "" })" data-page="/Home/Index">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("List", "Board", new { area = "", category="Board"})" data-page="/Board/List?category=Board">
                            Board
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("List", "Board", new { area = "", category = "Notice" })" data-page="/Board/List?category=Notice">
                            Notice
                        </a>
                    </li>
                    @if (roleId.HasValue && roleId.Value == 2)
                    {
                        <li class="nav-item">
                            <a href="@Url.Action("dashboard", "Admin", new { area = ""})" data-page="/Admin/dashboard">
                                Admin
                            </a>
                        </li>
                    }
                </ul>
            </nav><!-- .navbar -->

            <div class="position-relative">
                <div class="text-center">

                    @if (Session["MemberId"] == null)
                    {
                        <a href="@Url.Action("Register", "Member", new { area = "" })">
                            <button class="btn btn-outline-dark" style="width:100px">회원가입</button>
                        </a>

                        <a href="@Url.Action("LogIn", "Member", new { area = "" })">
                            <button class="btn btn-dark" style="width:100px">로그인</button>
                        </a>
                    }
                    else
                    {
                        <nav id="navbar" class="navbar">
                            <ul>
                                <li class="dropdown">
                                    <a href="@Url.Action("MyProfile", "MyPage", new { area = "" })">
                                        <span>
                                            <i class="bi bi-chevron-down dropdown-indicator" id="notification-indicator"></i>
                                            <span>@Session["Nickname"]님, 반갑습니다.</span>
                                        </span>
                                    </a>
                                    <ul id="dropdown-menu">
                                        <li><a href="@Url.Action("MyProfile", "MyPage", new { area = "" })">MyPage</a></li>
                                        <li><a href="@Url.Action("Logout", "Member", new { area = "" })">Logout</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </nav><!-- .navbar -->

                    }

                </div>

                <div class="text-center">
                    <i class="bi bi-list mobile-nav-toggle"></i>
                </div>
                <!-- ======= Search Form ======= -->
                <div class="search-form-wrap js-search-form-wrap">
                    <form action="search-result.html" class="search-form">
                        <span class="icon bi-search"></span>
                        <input type="text" placeholder="Search" class="form-control">
                        <button class="btn js-search-close"><span class="bi-x"></span></button>
                    </form>
                </div><!-- End Search Form -->

            </div>

        </div>

    </header><!-- End Header -->

    <div class="container body-content">
        @RenderBody()
    </div>
    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">

        <div class="footer-legal">
            <div class="container">

                <div class="row justify-content-between">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <div class="copyright">
                            © Copyright <strong><span>GowBoard</span></strong>. All Rights Reserved
                        </div>

                        <div class="credits">
                            <!-- All the links in the footer should remain intact. -->
                            <!-- You can delete the links only if you purchased the pro version. -->
                            <!-- Licensing information: https://bootstrapmade.com/license/ -->
                            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/herobiz-bootstrap-business-template/ -->
                            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>

    </footer>

    <!-- Bootstrap Js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Vendor JS Files -->
    <script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/Content/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/Content/vendor/aos/aos.js"></script>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="/signalr/hubs"></script>

    <!-- Template Main JS File -->
    <script src="~/Scripts/main.js"></script>

    @if (TempData["LoginSuccess"] != null && (bool)TempData["LoginSuccess"])
    {
        <script>
            $(function () {
                if (typeof window.reconnectSignalR === 'function') {
                    window.reconnectSignalR();
                }
            });
        </script>
    }
<script>
        const message = "@errorMessage";
        const msg = "@errorMsg"
        const successMessage = "@successMessage";
        const successMsg = "@successMsg";

    document.addEventListener("DOMContentLoaded", function () {
        if (message) {
            alert(message);
        } else if (msg) {
            alert(msg);
        } else if (successMessage) {
            alert(successMessage);
        } else if (successMsg) {
            alert(successMsg);
        }

        // 기본적으로 Home을 active로 설정
        const currentPath = window.location.pathname.toLowerCase();
        const currentSearch = window.location.search.toLowerCase();
        let navLinks = document.querySelectorAll('#navbar .nav-item a');

        function getCategoryFromUrl() {
            const urlParams = new URLSearchParams(currentSearch);
            return urlParams.get('category')?.toLowerCase();
        }

        const currentCategory = getCategoryFromUrl();

        navLinks.forEach(link => {
            const linkPath = link.getAttribute('data-page').toLowerCase();
            const linkCategory = linkPath.split('=')[1]; // 'board' 또는 'notice'

            if (currentCategory && linkCategory === currentCategory) {
                link.classList.add('active');
            } else if ((currentPath === '/' || currentPath === '/home' || currentPath === '/home/index') && linkPath === '/home/index') {
                link.classList.add('active');
            } else {
                link.classList.remove('active');
            }
        });

        // dropdown
        var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
        var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
            return new bootstrap.Dropdown(dropdownToggleEl)
        });

        // 실시간 알림
        $(function () {
            var memberId = '@Session["MemberId"]'; 
            var connection = $.hubConnection();
            connection.qs = { "memberId": memberId };
            var hub = connection.createHubProxy('notificationHub');

            hub.on('receiveNotification', function (memberId, message) {
                console.log("Received notification: " + message);

                // 알림 표시
                $('#notification-indicator').css('color', 'red');

                // 드롭다운 메뉴에 새 알림 추가
                var newNotification = $('<li><a href="#">' + message + '</a></li>');
                $('#dropdown-menu').prepend(newNotification);
            });

            connection.start()
                .done(function() {
                    console.log('Now connected, connection ID=' + connection.id);
                    hub.invoke('AssociateUser', memberId);
                    debugger
                })
                .fail(function() {
                    console.log('Could not connect');
                });
        });
    });
</script>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>