@model List<GowBoard.Models.DTO.ResponseDTO.ResAdminMemberListDTO>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Admin-MemberList Page";
    int currentPage = ViewBag.CurrentPageNumber;
    int totalPages = ViewBag.TotalPages;

}
<div class="container">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">회원 리스트</h1>
        </div>

        <!-- Content Row -->
        <div class="row">
            <table class="table">
                <thead class="table-secondary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">이름</th>
                        <th scope="col">닉네임</th>
                        <th scope="col">이메일</th>
                        <th scope="col">휴대폰</th>
                        <th scope="col">등급</th>
                        <th scope="col">탈퇴 여부</th>
                        <th scope="col">탈퇴 일자</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var member in Model)
                    {
                        <tr>
                            <td>@member.MemberId</td>
                            <td>@member.Name</td>
                            <td>@member.Nickname</td>
                            <td>@member.Email</td>
                            @if (member.Phone == null)
                            {
                                <td> - </td>
                            }
                            else
                            {
                                <td>@member.Phone</td>
                            }
                            <td>@member.RoleName </td>
                            @if (member.DeleteYn)
                            {
                                <td>Y</td>

                            }
                            else
                            {
                                <td> - </td>
                            }
                            @if (member.DeleteYn)
                            {
                                <td>@member.FormatterDates</td>
                            }
                            else
                            {
                                <td> - </td>
                            }
                        </tr>
                    }

                </tbody>
            </table>

            <!-- Pagination -->
            <div class="row gy-4">
                <div class="text-center py-4">
                    <div class="custom-pagination">
                        @if (currentPage > 10)
                        {
                            <a href="@Url.Action("MemberList", new { page = (currentPage - 10) })" class="prev-page">&lt; </a>
                        }

                        @{
                            int startPage = ((currentPage - 1) / 10) * 10 + 1;
                            int endPage = Math.Min(totalPages, startPage + 9);
                        }

                        @for (int i = startPage; i <= endPage; i++)
                        {
                            <a href="@Url.Action("MemberList", new { page = i })" @(currentPage == i ? "class=active" : "")>@i</a>
                        }

                        @if (endPage < totalPages)
                        {
                            <a href="@Url.Action("MemberList", new { page = (startPage + 10) })" class="next-page"> &gt;</a>
                        }
                    </div>
                </div>
            </div>

        </div>

    <!-- /.container-fluid -->
    </div>
</div>
</div>
<!-- End of Main Content -->
